@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  color: white; 
  font-family: 'Roboto Mono', monospace;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(56, 56, 56);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  margin-top: 5%;
}

.class-form {
  margin-top: 5%;
  display: flex;
}

.class-select {
  display: block;
  color: rgb(46, 46, 46); 
  margin-left: 10px; 
}

.class-select option {
  color: rgb(46, 46, 46);
}

.class-button {
  display: block;
  margin-top: 20px;
  color: rgb(46, 46, 46);
  width: 300px;
  height: 50px;
}